@charset "UTF-8";
/**	
 *  header css
 *  by:lfping
 *  time:2017年9月4日09:59:03
 */
/* CSS Document */
html, body {
  font: 12px/1.5 '微软雅黑', "黑体","宋体";
  color: #333;
  outline: 0;
}

body {
  min-width: 1200px;
}

body, div, h1, h2, h3, h4, h5, h6, p, ul, li, dl, dt, dd, img, form, table, caption, th, td, figure, button, input {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #666;
}

a, button {
  cursor: pointer;
}

button {
  vertical-align: middle;
}

i, b, em {
  font-weight: normal;
  font-style: normal;
}

li {
  list-style: none;
}

img {
  display: block;
  border: 0;
  vertical-align: middle;
}

input {
  border: 0;
  outline: none;
}

/*全局重置样式*/
/* CSS Document */
.fl {
  float: left;
}

.fr {
  float: right;
}

.ov {
  overflow: hidden;
}

.clear {
  content: '';
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
  zoom: 1;
}

.uls-sty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}

.scaleImg:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.look-more {
  display: block;
  width: 120px;
  height: 30px;
  border: 1px solid #888;
  line-height: 30px;
  text-align: center;
  border-radius: 31px;
  margin: 30px auto;
  transition: 0.3s 0.1s linear;
}

.look-more:hover {
  color: #f33;
}

.vcode-tips-acc {
  background: url(../img/reg/login_sprite.png) no-repeat -220px 0;
}

.vcode-tips-err {
  background: url(../img/reg/login_sprite.png) no-repeat -261px 0;
}

.login-bg .shell h2 a.bd-line-dk {
  color: #333;
  border-bottom: 2px solid #666;
}

.login-bg .shell h2 a.bd-line-fd {
  color: #888;
  border-bottom: 0 none;
}

/*全局公共样式*/
header {
  width: 100%;
}

header div {
  width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
}

header div a {
  display: inline-block;
}

section {
  width: 100%;
  background: #f7f2ec;
}

section .wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

section .wrap .login-bg {
  height: 700px;
  margin: 15px 0;
  background: url(../img/reg/login_bg.jpg) no-repeat;
}

section .wrap .shell {
  position: absolute;
  right: 30px;
  width: 410px;
  height: 580px;
  background: #fff;
  margin: 36px 0;
  box-shadow: 1px 1px 10px #666;
}

section .wrap .shell h2 {
  height: 50px;
  line-height: 50px;
  font-weight: normal;
  background: #e7e7e7;
  display: flex;
  justify-content: space-between;
}

section .wrap .shell h2 a {
  display: inline-block;
  width: 50%;
  height: 48px;
  color: #333;
  text-align: center;
  border-bottom: 2px solid #666;
}

section .wrap .shell h2 a:nth-child(2) {
  color: #888;
  border-bottom: 0 none;
}

section .wrap .shell h2 a:hover {
  color: #333 !important;
  border-bottom: 2px solid #666 !important;
}

section .wrap .shell .reg_phone_type, section .wrap .shell .login_type {
  padding: 0px 40px;
  display: block;
}

section .wrap .shell .reg_phone_type input:hover, section .wrap .shell .login_type input:hover {
  border-color: #f88;
}

section .wrap .shell .reg_phone_type li, section .wrap .shell .login_type li {
  margin: 24px 0;
}

section .wrap .shell .reg_phone_type li label, section .wrap .shell .login_type li label {
  color: #888;
  background: #fff;
}

section .wrap .shell .reg_phone_type li input, section .wrap .shell .login_type li input {
  width: 245px;
  height: 34px;
  color: #555;
  margin: 0 auto;
  padding-left: 6px;
  border: 1px solid #ddd;
}

section .wrap .shell .reg_phone_type li:nth-of-type(1) .phone_tips, section .wrap .shell .login_type li:nth-of-type(1) .phone_tips {
  display: none;
}

section .wrap .shell .reg_phone_type li:nth-of-type(1) .phone_tips::before, section .wrap .shell .login_type li:nth-of-type(1) .phone_tips::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  background: url(../img/reg/login_sprite.png) no-repeat -199px 0;
}

section .wrap .shell .reg_phone_type li:nth-of-type(2), section .wrap .shell .login_type li:nth-of-type(2) {
  display: none;
  position: relative;
}

section .wrap .shell .reg_phone_type li:nth-of-type(2) input, section .wrap .shell .login_type li:nth-of-type(2) input {
  width: 130px;
}

section .wrap .shell .reg_phone_type li:nth-of-type(2) span, section .wrap .shell .login_type li:nth-of-type(2) span {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 35%;
}

section .wrap .shell .reg_phone_type li:nth-of-type(2) #vcode, section .wrap .shell .login_type li:nth-of-type(2) #vcode {
  width: 112px;
  height: 36px;
  background: #888;
  float: right;
  margin-right: 76px;
}

section .wrap .shell .reg_phone_type li:nth-of-type(3) #msg_vcode, section .wrap .shell .login_type li:nth-of-type(3) #msg_vcode {
  width: 130px;
}

section .wrap .shell .reg_phone_type li:nth-of-type(3) a, section .wrap .shell .login_type li:nth-of-type(3) a {
  display: inline-block;
  width: 112px;
  height: 36px;
  background: #ddd;
  line-height: 34px;
  text-align: center;
  color: #333;
}

section .wrap .shell .reg_phone_type li:nth-of-type(4), section .wrap .shell .login_type li:nth-of-type(4) {
  text-align: right;
}

section .wrap .shell .reg_phone_type li:nth-of-type(4) a:hover, section .wrap .shell .login_type li:nth-of-type(4) a:hover {
  text-decoration: underline;
}

section .wrap .shell .login_type {
  display: none;
}

section .wrap .shell .login_type li:nth-of-type(2) {
  display: block;
}

section .wrap .shell .login_type li:nth-of-type(2) input {
  width: 245px;
}

section .wrap .shell .login_type li:nth-of-type(3) .login_tips {
  display: none;
}

section .wrap .shell .login_type li:nth-of-type(3) .login_tips em {
  display: inline-block;
  width: 20px;
  height: 13px;
  vertical-align: middle;
  background: url(../img/reg/login_sprite.png) no-repeat -196px 0;
}

section .wrap .shell .login_type li:nth-of-type(3) .login_tips p {
  display: inline-block;
  vertical-align: middle;
}

section .wrap .shell .login_reg {
  text-align: center;
}

section .wrap .shell .login_reg input {
  background: #c60000;
  color: #fff;
  width: 300px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s linear;
}

section .wrap .shell .login_reg input:nth-of-type(2) {
  display: none;
}

section .wrap .shell .login_reg input:hover {
  background: #B3031A;
}

section .wrap .shell .hezuo {
  padding: 0px 40px;
  margin-top: 20px;
}

section .wrap .shell .hezuo .under_line {
  position: relative;
  height: 1px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

section .wrap .shell .hezuo .under_line p {
  position: absolute;
  left: 50%;
  top: -7px;
  background: #fff;
  transform: translate(-50%, 0);
  padding: 0 15px;
}

section .wrap .shell .hezuo .hezuo_icon {
  display: flex;
  justify-content: space-around;
}

section .wrap .shell .hezuo .hezuo_icon a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/reg/login_sprite.png) no-repeat;
  opacity: 0.5;
}

section .wrap .shell .hezuo .hezuo_icon a:nth-of-type(1) {
  background-position: 0 0;
}

section .wrap .shell .hezuo .hezuo_icon a:nth-of-type(2) {
  background-position: -30px 0;
}

section .wrap .shell .hezuo .hezuo_icon a:nth-of-type(3) {
  background-position: -60px 0;
}

section .wrap .shell .hezuo .hezuo_icon a:nth-of-type(4) {
  background-position: -90px 0;
}

section .wrap .shell .hezuo .hezuo_icon a:nth-of-type(5) {
  background-position: -120px 0;
}

section .wrap .shell .hezuo .hezuo_icon a:hover {
  opacity: 1;
}

section .wrap .shell .hezuo .QRcode {
  text-align: right;
  position: absolute;
  right: -2px;
  bottom: -1%;
}

section .wrap .shell .hezuo .QRcode a {
  display: inline-block;
  width: 88px;
  height: 30px;
  background: url(../img/reg/login_sprite.png) no-repeat;
}

section .wrap .shell .hezuo .QRcode a:nth-of-type(1) {
  background-position: 0px -356px;
  margin-bottom: 5px;
  margin-right: -18px;
}

section .wrap .shell .hezuo .QRcode a:nth-of-type(2) {
  width: 70px;
  height: 60px;
  background-position: 8px -401px;
}

footer {
  padding: 40px 0;
}

footer a:hover {
  text-decoration: underline;
}

footer div {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
}

footer div a b {
  padding: 0 10px;
}

footer p {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #888;
}
