/**	
 *  详情页 css
 *  by:lfping
 *  time:2017年9月6日15:16:59
 *  type:男装 详情页
 */

@import 'reset';
@import 'common';
@import 'header';
@import 'footer';

section{
	margin-top: 1px;
	padding-bottom: 50px;	
	 .wrap{
		width:1000px;
		margin: 0 auto; 
	}
}
/* top 广告 导航 */
.top_adv{
	padding-bottom: 20px;
	.nav_min{
	    height: 54px;
	    line-height: 54px;
	    border-bottom: 1px solid #ccc;
	    span:nth-of-type(1){
	    	padding-left: 16px;
	    	background: url(../img/list/bg/icon.png) no-repeat 5px 5px;
	    }	
	   a{
	    	color: #00579D;
	    }
	    span:nth-of-type(2),span:nth-of-type(3){
		    display: inline-block;
		    padding: 10px;
		    vertical-align: middle;	
		    background: url(../img/list/bg/jts.jpg) no-repeat 8px 2px;    	
	    }
	   a:nth-of-type(2){
			display: inline;
	    }
	}
}
/* 商品内容 */
.container{
    overflow: hidden;
    padding-bottom: 30px;	
	//放大镜 图片展示
	.Magnifier{
	    width: 405px;
	    height: 538px;	
	    float: left;
	    .bg_img{
		    padding-bottom: 10px;	    	
			.m_pic{
				position: absolute;
				top: 0;
				left: 0;
				display: none;
				border: 1px solid #ccc;
			}
			.m_pic:nth-of-type(1){
				display: block;
			}
	    }	
		
	}
	.sm_img{
		position:absolute;
		bottom:-20%;
		width: 100%;
		.img_list{
		    width: 100%;
		    display: flex;
		    justify-content: center;
		    overflow: hidden;
		    zoom:1;
			li{
			    float: left;
			    margin: 0 4px;			    
			    padding: 8px 4px 6px 2px;
			    a{
			    	display: block;
			    	margin-left: 1px;
			    }
			}
			li.li_active{
				background: url(../img/list/bg/goods_info.gif) no-repeat left -186px;
			}
			li.li_active_line{
				background: url(../img/list/bg/goods_info.gif) no-repeat -200px -328px;
			}
		}
	}
	//商品信息
	.goods_container{
		float: left;
		padding-left: 30px;
		width: 560px;
		.bd_line{
			border-bottom: 1px solid #ccc;
		}
		.goods_head{
			h3{
				line-height: 34px;
				span{
					color: #ff6022;
    				margin-left: 6px;					
				}
			}
			p{
			    line-height: 30px;
			    a:nth-of-type(1){
			        line-height: 30px;	
			    }	
			    a:nth-of-type(2){
			    	text-decoration: underline;
    				color: #005BA1;
    				padding-left: 12px;
			    }
			    span{float: right;}
			}
		}
		.goods_body{
			padding: 20px 0;
			div{
				.time_buying{
				    color: #ff6022;
    				font-weight: bold;	
    			span{
    				color: #c60000;
    				font-size: 18px;
    			}
    			span::before{
    				content:"￥";
    				padding: 0 6px;
    			}
				}
			}
			.original_price{
				    line-height: 30px;
				    span{color: #555;}
				    span::before{
    				content:"￥";
    				padding: 0 6px;
    			}
			}
			p:nth-of-type(2){
				span{
					color: #ff6022;
				    font-size: 15px;
				    font-weight: bold;
				    padding: 0 15px;
				}
				i{
					color: #ff6022;
				    font-size: 12px;
				    font-weight: bold;
				}
			}
		}
		/* 商品尺寸 颜色 数量 */
		.goods_foot{
			    padding: 20px 0 40px;
			    ul li{
			    	margin: 18px 0;
			    }
			    //商品选中效果
			   ul li a.select_sty{
				    background: #ee6011;
				    border: 1px solid #ee6011;
				    color: #fff;		    	
			    }
			    li:nth-of-type(1){
			    	a{
					    display: inline-block;
					    padding: 4px 8px;
					    margin: 0 5px;
					    color: #333;
					    border: 1px solid #666;
			    	}
			    	a:hover{
			    		border-color: #ff6011;
			    	}
			    }
			    li:nth-of-type(2){
			    	a{
			   			display: inline-block;
					    padding: 4px 8px;
					    margin: 0 6px;
					    border: 1px solid #666; 		
			    	}
			    	a:hover{
			    		border-color: #ff6011;
			    	}			    	
			    }
			    li:nth-of-type(3){
			    	em{
						display: inline-block;
					    margin: 0 5px;
					    width: 15px;
					    height: 15px;
					    vertical-align: middle;	
					    background: url(../img/list/bg/goods_info.gif) no-repeat;		    		
			    	}
			    	em:nth-of-type(1){
			    		background-position: -224px -163px;
			    	}
			    	em:nth-of-type(2){
			    		background-position: -207px -182px;
			    	}			    	
			    	input{
			    	    border: 1px solid #ccc;
					    width: 50px;
					    height: 22px;
					    text-align: center;	
			    	}
			    	/* 去掉input number类型的 三角号 */
					input::-webkit-outer-spin-button,
					input::-webkit-inner-spin-button{
					    -webkit-appearance: none !important;
					    margin: 0; 
					}
					input[type="number"]{
						-moz-appearance:textfield;
					}			    	
			    }
			    li:nth-of-type(4){
			    	a{
			    	    color: #333;
			    	    padding: 5px 0 0 18px;	
			    	}
			    	a:nth-of-type(1){
			    		background: url(../img/list/bg/wlb.jpg) no-repeat left 5px;
			    	}
			    	a:nth-of-type(2){
			    		background: url(../img/list/bg/fwb.jpg) no-repeat left 4px;
			    		margin-left: 10px;
			    	}			    	
			    }
		}
		.goods_buy{
			    padding-bottom: 30px;
			    a{
				    display: inline-block;
				    margin: 0 5px;
				    width: 160px;
				    height: 34px;
				    line-height: 34px;
				    text-align: center;
				    background: #ff6011;
				    color: #fff;
				    font-size: 18px;
				    border-radius: 6px;			    	
			    }
			    a:nth-of-type(2){
		    	    width: 150px;
		    	    padding-left: 10px;
		    		background: #58bc58;
			    }
			    a:nth-of-type(3){
			    	width: 50px;
				    height: 30px;
				    line-height: 30px;
				    text-align: center;
				    background: #F7F7F7;
				    color: #222;
				    font-size: 14px;
				    border-radius: 3px;
				    border: 1px solid #ccc;
				    padding-left: 10px;    	
			    }
			    a:nth-of-type(1):hover{
			    	background: #F2571A;
			    }
			    a:nth-of-type(2):hover{
			    	background: #63A645;
			    }
			    a:nth-of-type(3):hover{
			    	background: #F0F0F0;
			    }			    			    
			    p{
			    	line-height: 44px;
    				color: #ff6011;    
    				span{
    				    font-size: 16px;
    					font-weight: bold;	
    				}	
    				em{
    					color: #666;
    				}
			    }
		}
		.goods_share{
			   padding-top: 20px;
			    overflow: hidden;
			    zoom: 1;	
			    div:nth-of-type(1){
					width: 45%;
				    float: left;
				    border-right: 1px solid #ccc;	
				    img{
				    	float: left;
				    }
				    span{
				    	width: 72px;
					    height: 50px;
					    display: inline-block;
					    margin: 30px;
				    }		    	
			    }	   
			    div:nth-of-type(2){
			    	float: left;
				    margin: 30px;
				    a{
					    display: inline-block;
					    width: 25px;
					    height: 25px;
					    vertical-align: middle; 
					    margin: 0 5px;
			    		background: url(../img/list/bg/goods_info.gif) no-repeat;
				    }
				    a:nth-of-type(1){
				    	background-position: -12px -26px;
				    }
				    a:nth-of-type(2){
				    	background-position: -44px -26px;
				    }
				    a:nth-of-type(3){
				    	background-position: -106px -26px;
				    }
				    a:nth-of-type(4){
				    	background-position: -139px -26px;
				    }
				    a:nth-of-type(5){
				    	background-position: -170px -26px;
				    }
			    }	   
		}
	}
}
/* 商品详细信息 评价 */
article {
	.goods_header{
	    overflow: hidden;
		border-bottom: 2px solid #ff6022;
    	zoom: 1;
    	.list_tag{
    		li{
    			float: left;
    			margin-right: 2px;
    			a{
    				display: inline-block;
				    background: #EFEFEF;
				    width: 145px;
				    height: 35px;
				    line-height: 35px;
				    text-align: center;
				    color: #000;
				    font-size: 15px;
    			}
    			a.hover_active{
	    			background: #ff6022;
				    color: #fff;
				    font-weight: bold;	
    			}
    			a:hover{
	    			background: #ff6022;
				    color: #fff;
				    font-weight: bold;	
    			}    			
    		}
    	}
    	.take_buy{
    		float: right;
    		span{

    		}
    		a{
    			display: inline-block;
			    background: #58bc58;
			    width: 130px;
			    height: 30px;
			    line-height: 30px;
			    text-align: center;
			    color: #fff;
			    border-radius: 4px;
    		}
    	}
	}
	.goods_content{
		padding-top: 30px;
		overflow: hidden;
		.tags{
			width: 100%;
			display: none;
			min-height: 580px;
		}
		.tag1{
			display: block;
			.goods_details{
				width: 774px;
				float: left;
				h4{
				    line-height: 26px;
				    background: #e7e7e7;
				    padding-left: 20px;	
				    margin: 10px 0;			
				}
			}
			.goods_recent{
				width: 210px;
				float: right;
				padding-top: 10px;
				h3{
				    color: #555;
				    background: #e7e7e7;
				    padding-left: 15px;
				    line-height: 26px;					
				}
			}
		}
		.tag4{
			.question{
				h3{
					padding: 20px 0;
				}
				a{
					display: inline-block;
				    padding: 10px 20px;
				    background: #f3f3f3;
				    border: 1px solid #888;
				    border-radius: 5px;
				    margin: 0 64px 20px 0;
				   em{
					    display: inline;
					    padding: 5px;
					    background: url(../img/list/bg/goods_info.gif) no-repeat 3px -520px;
				   }
				}
			}
		}
	}
}
// 右侧悬浮
.aside{
	position: fixed;
    left: 50%;
    top: 30%;
    width: 69px;
    background: #fff;
    margin-left: 600px;
	.fr_shut{
	    display: inline-block;
	    width: 67px;
	    height: 30px;
	    line-height: 30px;
	    text-align: center;
	    color: #f33;
	    border: 1px solid #dfdfdf;
	    cursor: pointer;
	}
	.fr_shut:hover{
		background: #f33;
		color: #fff;
	}
	.fr_list{
		overflow: hidden;
    	zoom: 1;
		a{
		    display: inline-block;
		    width: 69px;
		    height: 53px;
		    background: url(../img/list/bg/r_menu_bg.jpg) no-repeat;
		    float: left;
		}
		a:nth-of-type(1){
			background-position: 0 0;
		}
		a:nth-of-type(2){
			background-position: 0 -56px;
			position:relative;
			.goods_num{
				position: absolute;
			    right: 10px;
			    top: 5px;
			    display: inline-block;
			    width: 18px;
			    height: 18px;
			    line-height: 18px;
			    text-align: center;
			    background: rgba(220,20,60,.8);
			    color: #fff;
			    border-radius: 50%;
			}
		}
		a:nth-of-type(3){
			background-position: 0 -114px;
		}
		a:nth-of-type(4){
		    background-position: 0px -171px;
		    height: 59px;			
		}
		a:hover{
			background-position-x: -68px!important;
		}
	}
} 